{# About Section #}
{% load static %}
{% load i18n %}
{% load content_tags %}
<section class="about" id="about" role="region" aria-label="About section">
  
  <div class="about__content">
    <div class="about__image-side">
      {% if about.badge_top_left %}
        <img src="{{ about.badge_top_left.url }}" alt="" class="about__badge about__badge--top-left" aria-hidden="true">
      {% else %}
        <img src="{% static 'images/about/41.png' %}" alt="" class="about__badge about__badge--top-left" aria-hidden="true">
      {% endif %}
      {% if about.badge_bottom_left %}
        <img src="{{ about.badge_bottom_left.url }}" alt="" class="about__badge about__badge--bottom-left" aria-hidden="true">
      {% else %}
        <img src="{% static 'images/about/74.png' %}" alt="" class="about__badge about__badge--bottom-left" aria-hidden="true">
      {% endif %}
      {% if about.badge_bottom_right %}
        <img src="{{ about.badge_bottom_right.url }}" alt="" class="about__badge about__badge--bottom-right" aria-hidden="true">
      {% else %}
        <img src="{% static 'images/about/35.png' %}" alt="" class="about__badge about__badge--bottom-right" aria-hidden="true">
      {% endif %}
      <div class="about__image-wrapper">
        {% if about.main_image %}
          <img src="{{ about.main_image.url }}" alt="{{ about|in_current_lang:"intro_name" }}" class="about__image">
        {% else %}
          <img src="{% static 'images/InaDigi.jpg' %}" alt="Ina Lasko" class="about__image">
        {% endif %}
      </div>
    </div>
    
    <div class="about__text-side">
      <h2 class="about__title">{{ about|in_current_lang:"title" }}</h2>
      
      <p class="about__text">
        <strong>{{ about|in_current_lang:"intro_name" }}</strong><br>
        {{ about|in_current_lang:"intro_text" }}
      </p>
      
      <p class="about__text">
        {{ about|in_current_lang:"description_part1" }} <strong>{{ about|in_current_lang:"brand_name" }}</strong><br>
        {{ about|in_current_lang:"description_part2" }}
      </p>
      
      <a href="{{ about.button_link }}" class="about__cta-btn">{{ about|in_current_lang:"button_text" }}</a>
    </div>
  </div>
</section>
