{# Blue background (mobile/desktop) #}
<div class="blue-bg" aria-hidden="true">
  <!-- Mobile SVG -->
  <svg class="blue-bg__svg blue-bg__svg--mobile" fill="none" preserveAspectRatio="none" viewBox="0 0 879 340">
    <path d="M879 0H0V340H879V0Z" fill="#7AE1E1"></path>
  </svg>

  <!-- Desktop SVG -->
  <svg class="blue-bg__svg blue-bg__svg--desktop" fill="none" preserveAspectRatio="none" viewBox="0 0 878.99 1281.53">
    <path d="M878.99 0H0V1281.53H878.99V0Z" fill="#7AE1E1"></path>
  </svg>
</div>
