{# Yellow background (mobile/desktop) #}
<div class="yellow-bg" aria-hidden="true">
  <!-- Desktop SVG -->
  <svg class="yellow-bg__svg yellow-bg__svg--desktop" fill="none" preserveAspectRatio="none" viewBox="0 0 2509.04 896">
    <path d="M2509.04 0H0V896H2509.04V0Z" fill="#D5FF41"></path>
  </svg>

  <!-- Mobile SVG -->
  <svg class="yellow-bg__svg yellow-bg__svg--mobile" fill="none" preserveAspectRatio="none" viewBox="0 0 879 340">
    <path d="M879 0H0V340H879V0Z" fill="#D5FF41"></path>
  </svg>
</div>
