{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>In A Digi Way</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/fav.ico' %}">
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
  }

  .logo-wrapper {
    width: 100%;
  }

  .logo-wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }

  .logo-wrapper img:hover {
    opacity: 0.85;
  }
</style>


</head>
<body>

  <div class="logo-wrapper">
    <a href="https://www.instagram.com/inadigiway" target="_blank" rel="noopener noreferrer">
      <img src="{% static 'images/DigiWay.jpg' %}" alt="In A Digi Way">
    </a>
  </div>

</body>
</html>
